body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.wrapper {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.mainTable tr th:not(:first-child) {
    background-color: rgb(104, 112, 187);
    color: white;
    padding: 12px;
    border: solid black 1px;
    width: 110px;

}

.mainTable tr td:not(:first-child) {
    padding: 4px;
    border: solid lightgrey 1px;
    font-size: 16px;
}


.textfield {
    padding: 0;
    width: 100%;
}

.btnWrapper {
    margin-top: 3%;
    margin-left: 25px;
}

.btns button {
    color: white;
    font-size: 15px;
    width: 120px;
    height: 35px;
    background-color: rgb(104, 112, 187);
    border-radius: 5px;
    cursor: pointer;
}

.btns button:focus {
    outline: none;
}

.totalWrapper {
    margin-top: 5px;
    width: 60%;
    display: inline-flex;
    background-color: rgb(104, 112, 187);
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    vertical-align: middle;
    
}

.totalWrapper div:last-child {
    margin-left: 80%;
}

#rowCount {
    display: flex;
}

#rowCount div {
    margin-left: 5px;
}

#checkCount {
    display: flex;
}

#checkCount div {
    margin-left: 5px;
}


.bckground {
    background-color: lightpink;
}

@media (max-width: 1200px) {
    .totalWrapper {
        width: 98%;
    }
}


@media (max-width: 600px){
    .wrapper {
        margin-left: 0;
    }

    .mainTable {
        padding: 20px;
    }

    .btnWrapper {
        padding: 20px;
    }

    .totalWrapper {
        width: 360px;
        padding-right: 70px;
    }

}
